@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background-image: url(/image/background.png);
    background-color: rgb(95, 91, 81);
    background-size: cover;
    background-position: center;
}

a {
    list-style: none;
    text-decoration: none;
    color: rgb(255, 255, 255, 1);
}

/* HEADER */

.header-container {
    width: 100%;
    height: 58px;
    padding-left: 79px;
    padding-right: 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.name {
    padding-left: 79px;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: white;
}

.name:hover {
    color: #01813f;
    cursor: pointer;
    transition: 0.5s;
}

.svg-nav-tools {
    fill: azure;
}

.svg-nav-tools:hover {
    fill: #01813f;
    transition: 0.5s;
}

.nav-tools-container {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.nav-tools {
    gap: 27px;
    display: flex;
    align-items: center;
    align-content: center;
}

.nav-tools::after {
    content: "";
    margin-left: -25px;
    width: 21px;
    height: 24px;
    border-top: 1.5px solid #a5acb0;
    transform: rotate(90deg);
}

span {
    color: aliceblue;
    padding-left: 27px;
}

text {
    color: aliceblue;
}

.log-in:hover {
    color: #01813f;
    transition: 0.5s;
}

.sign-in:hover {
    color: #01813f;
    transition: 0.5s;
}

/* MAIN CONTENT. FORM */

.main-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-left: 61px;
    padding-right: 61px;
    gap: 15px;
    margin-bottom: 75px;
    max-height: 584px;
    max-width: 444px;
    background-color: #ffffff;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}

/* FORM-TOP */

.form-top {
    display: flex;
    margin-left: -61px;
    margin-top: 39px;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.box {
    position: relative;
    width: 18px;
    height: 18px;
    overflow: hidden;
    background: #3cb878;
}

.box:before {
    position: absolute;
    content: "";
    padding-top: 100%;
}

.sign-up {
    margin-left: -170px;
    color: rgb(67, 67, 67, 1);
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}

.log {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #3cb878;
}

.log:hover {
    color: #01813f;
    text-decoration: underline;
}

.social-buttons {
    display: flex;
    gap: 4px;
}

.facebook {
    display: flex;
    justify-content: center;
}

.facebook-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 160px;
    height: 48px;
    background: #305db8;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    cursor: pointer;
}

.facebook-button:hover {
    background: #0a162f;
    transition: 0.5s;
}

.google-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 160px;
    height: 48px;
    background: #df4a32;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    cursor: pointer;
}

.google-button:hover {
    background: #ab1f09;
    transition: 0.5s;
}

.or {
    align-self: center;
    position: relative;
    margin-top: 31px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
}

.or::before {
    content: "";
    position: absolute;
    content: "";
    position: absolute;
    width: 143px;
    margin-top: 7px;
    margin-left: -3px;
    padding-left: -36px;
    margin-left: -157px;
    width: 151px;
    border-top: 1.5px solid #f2f2f2;
    transform: rotate(0deg);
}

.or::after {
    position: absolute;
    content: "";
    width: 143px;
    margin-top: 7px;
    margin-left: 4px;
    padding-left: -36px;
    margin-left: 3px;
    width: 151px;
    border-top: 1.5px solid #f2f2f2;
    transform: rotate(0deg);
}

/* FORM */

.input {
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    padding: 10px 19px;
    width: 100%;
}

.input:focus {
    color: #434343;
    outline: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    background: #ffffff;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

input::placeholder {
    color: #bebebe;
}

.terms {
    color: rgba(60, 184, 120, 1);
}

.terms:hover {
    color: rgb(1, 129, 63, 1);
    text-decoration: underline;
}

.agree {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
}

.form-actions {
    display: flex;
    align-items: center;
    gap: 8px;
}

input[type="checkbox"] {
    display: none;
}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #f2f2f2;
}

.svg-check {
    display: none;
}

.form-actions:hover label .checkbox .svg-check path {
    stroke: #01813f;
}

.checkbox-hidden:checked~.checkbox .svg-check {
    display: block;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-account {
    margin-top: 20px;
    width: 324px;
    height: 46px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: none;
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    cursor: pointer;
}

.create-account:hover {
    background: #01813f;
    transition: 0.5s;
}